:root {
  --primary: #0b61ae;
  --secondary: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light {
  background-color: var(--secondary);
  color: var(--primary);
}

.dark {
  background-color: #070a53;
  color: var(--secondary);
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}